body{
  font-family: monospace sans-serif;
}

.navbar{
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo{
  width: 40px;
  height: 40px;
}

.navbar-title{
margin-left: 10px;
color: #fff;
}